*{
    margin: 0;
    box-sizing: border-box;
}
header{
    background-image: url("pattern.png");
    background-color: #4ea0ff;
    background-size: 30%;
    height: 100px;
}

.logo{
    height: 50px;
    width: 200px;
    margin-top: 50px;
}

h1{
    font-size: 40px;
    margin-top: 10px;
}

.Photo{
    margin-top: 10px;
}

.Photo_credit{
    font-size: 10px;
}

.highlight{
    background-color: yellow;
}

table{
    border-collapse: collapse;
    width: 100%;
    
}

thead{
    background-color: #20a9e5;
    color: white;
}

th, td{
    text-align: left;
}

.color_row{
    background-color: #b1e5f2;
}

h3{
    margin-bottom: 15px;
    margin-top: 15px;
    color: #979797;
}

table th.bigdata{
    width: 50%;
}